{
  "plugins": [
    "transform-runtime",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    "transform-es2015-classes",
    "transform-proto-to-assign"
  ],
  "presets":["es2015", "stage-1"]
}